* {
    font-family: Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    color: white;
    color: rgb(15, 32, 20);
    font-size: 5rem;
    padding: 8rem;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

h2{
    color: rgb(44, 2, 63);
}


.title{
    background-image: url("../images/starryNight.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.bgPhoto{
    width: 100%;
    height: 40rem;
    margin: 1rem auto 0;
    text-align: center;
}

.bgPhoto h2{
    color: white;
    display: flex;
    justify-content: center;
}


main{
    max-width: 900px;
    margin: 0 auto;
}

/* #aboutMe p{
    display: flex;
    padding-left: 30vw;
} */

#aboutMeSize p, #aboutMeSize img{
    display: flex;
}

ul #tabs{
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0 0 .3em 0;
}

ul #tabs li{
    display: inline;
}

.multibutton{
    color: white;
    justify-content: center;
    background-color: rgb(35, 1, 51);
    border: 1px solid rgb(35, 1, 51);
    text-decoration: none;
}

.multibutton:hover{
    background-color: rgb(218, 206, 223);
    color: rgb(11, 0, 15);
}

#tabbuttons{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    background-color: rgb(35, 1, 51);
}

#myProjects{
    width: 60vw;
    text-align: center;
}

div.tabContent{
    width: 60vw;
    text-align: center;
    border: 1px solid rgb(35, 1, 51);
    padding: .5em;
    background-color: rgb(218, 206, 223);
}

div.tabContent p{
    margin-top: 1em;
    width: 58vw;
}

div.tabContent.hide{
    display: none;
}



nav{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: rgb(35, 1, 51);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a{
    color: white;
    text-decoration: none;
    padding: .5em 2em;
}

nav a:hover{
    background-color: rgb(94, 77, 102)
}

#aboutMe{
    padding-top: 3em;
}

#aboutMe img{
    display: flex;
    height: 350px;
}

#skills{
    padding: 3em 0;
}

.tabcontent{
    display: none;
}

.tabs{
    overflow: hidden;
}

#contactInfo{
    text-align: center;
    color: rgb(35, 1, 51);
    width: 100%;
    background: rgb(179, 209, 236);
    margin-top: 3em;
    margin-bottom: -1em;
}


#contactLinks ul{ 
    display: flex;
    align-items: row;
    justify-content: space-around;
    list-style-type: none;
}

#contactLinks ul img{
    height: 30px;
}

footer{
    background: rgb(35, 1, 51);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: center;   
}

footer p{
    text-align: right;
}

/* Pseudo ::selection element{
    color: rgb(4, 0, 5);
} */

